---
title: 'Blog'
import Blog from '../../components/Blog.svelte'
import Header from '../../layouts/Header.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { pageview } from '../../lib/gtag';
const title = "Miguel Velasquez - Developer"
const description = "Hi, I am Miguel Velasquez and this is my website"
console.log(Astro.url.origin, 'url')
// pageview(Astro.url.origin, Astro.props.title)
---

<BaseLayout {title} {description}>
    <div class="h-screen w-screen">
        <Header />
        <Blog client:visible />
    </div>
</BaseLayout>
