---
import Impact from '../../components/Impact.svelte'
import Layout from '../../layouts/BaseLayout.astro';
import NavBar from '../../components/NavBar.mdx'
import { Icon } from 'astro-icon';
import Header from '../../layouts/Header.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = "Miguel Velasquez - Developer"
const description = "Hi, I am Miguel Velasquez and this is my website"
---

<BaseLayout {title} {description}>
    <div class="h-screen w-screen">
        <Header />
        <Impact client:visible />
    </div>
</BaseLayout>
