---
import Impact from '../../components/Impact.astro'
import Header from '../../layouts/Header.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
const title = "Miguel Velasquez - Developer"
const description = "Hi, I am Miguel Velasquez and this is my website"
---

<BaseLayout {title} {description}>
    <div class="h-screen">
        <Header />
        <Impact />
    </div>
</BaseLayout>
