---
import { getCollection } from "astro:content";
// const allPosts = await getCollection("blog");
---


<div class="h-full flex flex-col justify-center gap-y-4">
  <h1 class="text-4xl">Blog</h1>
  <div class="flex flex-col gap-y-4">
    <p>
      There's nothing here so far, but I am writing interesting stuff that I learned on my way, and will be released soon...<br /> Meanwhile,
      visit my <a class="font-semibold underline" target="_blank" href="https://twitter.com/MiguelveDev">Twitter</a> or my
      <a class="font-semibold underline" target="_blank" href="https://github.com/miguelvelasquezdev">Github</a>, there you will find what I am
      learning and everything related to the Web technologies.
    </p>
    <!-- {allPosts.map(post => (
      <div class="flex flex-col gap-y-2">
        <a href={`/blog/${post.slug}`} class="flex justify-between text-white/70">
          <span class="underline">{post.data.title}</span>
          <span>{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })}</span>
        </a>
      </div>
    ))} -->
  </div>
</div>
  