---
    const codeStyle = "bg-zinc-800 py-[0.2rem] px-[0.3rem] before:content-none after:content-none font-semibold text-sm rounded"
---

<div class="h-full flex flex-col justify-center gap-y-4 pt-12">
    <div class="flex flex-col gap-y-2">
        <h1 class=" text-4xl">Impact</h1>
        <section class="flex flex-col gap-y-2">
            <h2 class="text-2xl py-4">Frontend Engineer at <span class="font-semibold">Rappi</span></h2>
            <article class="flex flex-col gap-y-2">
                <p>I am happy to have worked at <a class="underline" target="_blank" href="https://rappi.com">Rappi</a>, because is a <code class={codeStyle}>Colombian Unicorn Startup 🦄 Series B backed by YC</code>. Rappi solves the food delivery demand in LatAm and improves Colombia's economy.</p>
                <p>At Rappi, I was Frontend Developer, working with MicroFrontends due to the Software Engineers' quantity and high requests demand for the app.</p>
                <p>I worked in the CX area, called <code class={codeStyle}>Lupe</code>, the platform where agents solve tons of client complaints.</p>
                <p>There, I analyzed and discussed with my ✨multicultural team✨ the creation of features that require <code class={codeStyle}>scalability resilience</code>. I monitored a large microservices structure, created alarms for possible frauds, did code reviewing, and always was curious about the Rappi business logic.</p>
            </article>
        </section>
    </div>
    
</div>