---
import { ViewTransitions } from 'astro:transitions';

import Seo from "../components/Seo.astro";

const { title, description, robots } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-M1J2RHYR0B"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-M1J2RHYR0B');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<Seo {title} {description} {robots} />
	</head>
	<body class="text-white bg-zinc-900">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	}
</style>
