<a
  href="https://github.com/miguelvelasquezdev"
  aria-label="github"
  target="_blank"
>
  <Icon
    className="m-0 h-10 w-10 cursor-pointer self-center p-2 text-2xl text-gray-400 transition-colors hover:text-gray-300"
    name="simple-icons:github"
  />
</a>
<a href="https://twitter.com/MiguelveDev" aria-label="twitter" target="_blank">
  <Icon
    className="m-0 h-10 w-10 cursor-pointer self-center p-2 text-2xl text-gray-400 transition-colors hover:text-gray-300"
    name="simple-icons:twitter"
  />
</a>
<a
  href="https://www.linkedin.com/in/miguevelasquez1/"
  aria-label="linkedin"
  target="_blank"
>
  <Icon
    className="m-0 h-10 w-10 cursor-pointer self-center p-2 text-2xl text-gray-400 transition-colors hover:text-gray-300"
    name="simple-icons:linkedin"
  />
</a>
<a href="https://cal.com/miguelvelasquez" target="_blank" aria-label="calc">
  <Image class="hover:text-gray-300" src={CalLogo} width={50} alt="Cal Icon" />
</a>
