---
import { Icon } from "astro-icon";
import NavBar from '../components/NavBar.mdx'

---

<div class="fixed flex w-full justify-center items-center  h-[3rem] gap-x-5 py-8 backdrop-blur-sm z-10">
    <div class="flex">
        <a href="/" aria-label="home">
            <Icon
            className='h-10 w-10 self-center m-0 cursor-pointer text-gray-200 p-2 text-2xl transition-colors hover:text-gray-300'
            name='ic:round-home'
          />
        </a>
    </div>
    <div class="flex text-gray-200 gap-x-5 text-center hover:prose-a:text-gray-300">
        <NavBar />
    </div>
</div>